<!DOCTYPE html>
<html lang="en">
<head>
   {{> head }}
</head>
<body>
   
    <section id="banner" class="bg-img" data-bg="banner.jpg">
				<div class="inner">
					<header>
						<h1>{{name}}</h1>
					</header>
				</div>
				
			</section>
    {{> footer }}
</body>
</html>